{% extends "core/base.html" %}
{% block content %}
<h1>@@label@@</h1>
<table class="table">
  <thead><tr><th>ID</th><th>Ações</th></tr></thead>
  <tbody>
    {% for item in items %}
    <tr>
      <td>{{ item.id }}</td>
      <td><a href="{{ url_for('@@plural@@.detail', id=item.id) }}">Ver</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
